/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px auto;
}

.content {
	border: 1px dotted #adadad; 
	background-color: #1b1b1b;
	padding: 10px 20px;
    color: #c5c5c5;
}

.note-editor .note-editing-area .note-editable, .editor-input,  div.tagsinput {
    background-color: #d3d3d3 !important;
}