/*!
 * Start Bootstrap - Blog Post HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px auto;
}

.content {
	border: 1px dotted #adadad; 
	background-color: #fdfdfd; 
	padding: 10px 20px;
}
