/* 
* @Author: i403
* @Date:   2015-10-18 12:25:53
* @Last Modified by:   i403
* @Last Modified time: 2015-10-18 22:17:12
*/

.short-code {
	overflow: hidden;
	max-height: 70px;
	padding: 10px 20px;
}

.selected {
	box-shadow: 0px 0px 8px 5px #777;
}

.qnote-div {
	max-width: 850px;
}

.qnote-list {
	width: 600px;
}

.odd-item {
	background-color: #dedede;
}

.jax-input {
	width: 90%;
	border: 1px solid #ababab;
	padding: 6px 12px;
	vertical-align: middle;
}

.search-item {
	margin-bottom: 20px;
	border-width: 0px;
	width:700px; 
	margin-left: -60px;
	background-color: #fff;
	font-family: "Lucida Sans Unicode", Helvetica, Tahoma, Verdana, Arial !important;
}

.search-item:hover {
	background-color: #fff !important;
}

.add-btn {
	color: #eee;
	border-color: #eee;
}

div.toolbar {
	display: none;
}
.top-home > i {
	position: relative; 
	left: -20px; 
	top: 4px;
	visibility: visible;
	color: #fff;
}

a.top-home:hover > i {
	visibility: visible;
	color: inherit;
}

